/* Add CSS Styling */
.odd-number {
  background-color: rgb(167, 76, 76);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}
#first-id {
  color: #0000FF;
  font-size: 36px;
}
.cool-font-size {
  font-size: 24px;
}
#second-id {
  background-color: rgb(126, 219, 126);
  font-weight: bold;
}